<main class="home-main">
  <div class="video">
    <video muted autoplay="true" loop="loop" poster="http://d1uudezswt6dzv.cloudfront.net/dolly.png">
      <source src="http://d1paasgjjioygf.cloudfront.net/dolly_the_sheep.mp4" type="video/mp4"></source>
    </video>
    <h3>Bring cloning projects to life.</h3>
    <% if(CloneStarter.loggedIn) { %>
      <h6><a href="#/projects/new">Start Today</a></h6>
    <% } else { %>
      <h6><a href="session/new">Start Today</a></h6>
    <% } %>
  </div>

  <section class="kickstarter-items">
    <h4>Popular</h4>
    <% projects.forEach(function(project) { %>
      <%= JST['projects/preview']({ project: project }) %>
    <% }); %>
  </section>
</main>
