<div class="log-in-background">

  <ul class="form-errors">
  </ul>

	<div class="log-in">
  	<h1><b>Make a Fundraising Pledge</b></h1>
    <form role="form">
      <label for="amt">
  	    <input type="text" name="pledge[amt]" placeholder="Enter Pledge Amount ($)">
  	  </label>
      <br>
  	  <b><input type="submit" value="Submit Pledge"></b>
  	</form>
    <div class="basic-button back">Cancel</div>
	</div>
</div>
