// Place all the styles related to the Pledges controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.well.pledge-form-group {
  background-color: #808080;
  width: 240px;
  padding: 15px;
}
