// Place all the styles related to the Rewards controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.well.reward-form-group {
  background-color: #808080;
  width: 250px;
  padding: 15px;
}
